# postgres
DB_NAME=tickets_registro
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=3306
DB_DIALECT=postgres
DB_SSL=false
# node
PORT=8080
# jwt
JWT_SECRET=sua_chave_secreta
JWT_EXPIRES_IN=1h